// dashboard.page.scss

ion-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
 
   h2 {
     font-size: 2rem;
     color: #4e54c8;
   }
 
   p {
     font-size: 1.2rem;
     color: #666;
   }
 }
 